In [4]:
import pandas as pd
path = 'C:/Users/ayush/Desktop/R/'
df = pd.read_csv(path + 'covid19_recovered_global.csv')
df.drop(columns=['Province/State','Lat', 'Long'], inplace=True)
col = 'Country/Region'
df.sort_values(by=col, inplace=True)
df.style.hide_index()
df.reset_index(drop=True, inplace=True)
df = df.rename(columns={col:'Country'})
col = 'Country'
df = df.groupby([col]).sum()
df.head(10)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,6/16/20,6/17/20,6/18/20
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,2651,3013,3326,3928,4201,4725,5164,5508,6158,7660
Albania,0,0,0,0,0,0,0,0,0,0,...,960,980,1001,1034,1039,1044,1055,1064,1077,1086
Algeria,0,0,0,0,0,0,0,0,0,0,...,6951,7074,7255,7322,7420,7606,7735,7842,7943,8078
Andorra,0,0,0,0,0,0,0,0,0,0,...,757,759,780,781,781,781,789,789,791,792
Angola,0,0,0,0,0,0,0,0,0,0,...,38,40,41,42,61,61,64,64,64,64
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,20,20,20,20,20,20,20,22,22,22
Argentina,0,0,0,0,0,0,0,0,0,0,...,7568,7991,8332,8743,9083,9564,9891,10174,10512,10721
Armenia,0,0,0,0,0,0,0,0,0,0,...,4451,5226,5466,5639,6081,6214,6276,6571,6814,7560
Australia,0,0,0,0,0,0,0,0,2,2,...,6740,6759,6782,6803,6838,6851,6856,6861,6877,6878
Austria,0,0,0,0,0,0,0,0,0,0,...,15875,15910,15949,15985,16012,16059,16066,16089,16099,16101

In [10]:
df.to_csv(path + 'covid19_recovered.csv')